/* 
    Created on : 18/03/2016, 01:48:59 PM
    Author     : Kevin
*/

.text-area .content{
    -fx-background-color: #383838;
}

.text-area{
    -fx-font-family: Consolas;
    -fx-font-size: 14;
    -fx-highlight-fill: #A1B56C;
    -fx-highlight-text-fill: #F8F8F8;
    -fx-text-fill: #7CAFC2;
}

.text-input.readonly {
    -fx-background-color: transparent;
   
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
